# Goodsy Magic Python Library - A Reference

Note - all required modules for this library have been installed on the `py10kernel` kernel.  If you use a different kernel you may have some installing to do.

In [19]:
import sys
import subprocess

goodies_dir = '/Path/To/Goodies/Repo/'
goodies_dir = subprocess.check_output(['pwd']).decode().replace('goodsy_python\n','')

sys.path.append(goodies_dir)

from goodsy_python import magic as gm

## Dates

### date_info_df

This function can be called on a single date-like string or on a pandas series:

In [20]:
gm.date_info_df('2025-02-04')

,WeekDay,Year,Month,DayOfMonth,DOM,DayOfYear,DOY,DaysInYear,NumericDate,DayName_1stJan,WeekOfYear,WOY
0,Tuesday,2025,2,4,4,35,35,365,2025.094521,Wednesday,6,6

In [22]:
import pandas as pd

df = pd.DataFrame({'Dt':['2021-02-03','2022-03-04','2023-04-05','2024-05-06']}, index=[0,1,2,3])
print(df)

gm.date_info_df(df['Dt'])

           Dt
0  2021-02-03
1  2022-03-04
2  2023-04-05
3  2024-05-06

,WeekDay,Year,Month,DayOfMonth,DOM,DayOfYear,DOY,DaysInYear,NumericDate,DayName_1stJan,WeekOfYear,WOY
0,Wednesday,2021,2,3,3,34,34,365,2021.091781,Friday,6,6
1,Friday,2022,3,4,4,63,63,365,2022.171233,Saturday,10,10
2,Wednesday,2023,4,5,5,95,95,365,2023.258904,Sunday,15,15
3,Monday,2024,5,6,6,127,127,366,2024.345628,Monday,19,19